---
layout: default
title: dankim.org
---
<p class="big">👋 Hi, I'm Dan. I'm an <a href="/assets/dan_kim_resume.pdf">
  Engineering Manager and an Android Developer</a>, and I'm looking for a new opportunity. If you'd like to chat, please feel free to contact me
  via <a href="mailto:hello@dankim.org">email</a> or <a href="https://twitter.com/dankim">Twitter</a>. Thanks!
</p>
<hr class="fancy"/>
<div id="home">
  <h2>Selected Musings</h2>
    <ul class="posts">
        {% for post in site.posts %}
        <li>
            {% if post.type == "star" %}
            <a href="{{ post.url }}" class="post_title">{{ post.title }}</a> <span>[{{ post.date | date: "%Y-%m-%d" }}]</span>
            {% endif %}

        </li>
        {% endfor %}
    </ul>

    <hr class="fancy"/>
    <h2>Conference Talks</h2>
    <ul class="posts">
        {% for post in site.posts %}
        <li>
            {% if post.type == "talk" %}
            <a href="{{ post.url }}" class="post_title">{{ post.title }}</a> <span>[{{ post.date | date: "%Y-%m-%d" }}]</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <hr class="fancy"/>
    <h2>Other Writing</h2>
    <ul class="posts">
        {% for post in site.posts %}
        <li>
            {% if post.type == "default" %}
            <a href="{{ post.url }}" class="post_title">{{ post.title }}</a> <span>[{{ post.date | date: "%Y-%m-%d" }}]</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
