<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- RSS feed -->
        <link rel="alternate" type="application/rss+xml" title="RSS" href="http://dankim.org/rss.xml">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Muli|Source+Code+Pro|Roboto+Slab' rel='stylesheet' type='text/css'>

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">Home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Dan Kim<br />
                #37 at <a href="http://basecamp.com">Basecamp</a><br />
                <a href="mailto:hello@dankim.org">hello@dankim.org</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/lateplate">github.com/lateplate</a><br />
                <a href="https://twitter.com/dankim">twitter.com/dankim</a><br />
                <a href="/rss.xml">RSS</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
