---
layout: default
---
<div class="footer">
    <div class="contact">
        <p>
            <a href="mailto:hello@dankim.org">Email</a> / 
            <a href="https://www.instagram.com/dankim312/">Instagram</a> / 
            <a href="https://www.instagram.com/oh_hi_eugene/">Eugene</a> / 
            <a href="https://www.threads.net/@dankim312">Threads</a> /
            <a href="https://androiddev.social/@dankim">Mastodon</a> /
            <a href="https://www.linkedin.com/in/dankim312/">LinkedIn</a> / 
            <a href="https://github.com/lateplate">Github</a> / 
            <a href="https://helloweather.com">Hello Weather</a> /
            <a href="/rss.xml">RSS</a>
        </p>
    </div>
  </div>
<h1>{{ page.title }}</h1>
{% if page.subtitle != null %}
<p class="subtitle">{{ page.subtitle }}</p><br />
{% endif %}
<p class="meta">{{ page.date | date: "%Y-%m-%d" }}</p>
<div class="post">
    {{ content }}
</div>
